{% extends "layouts/main.html" %}

{% set pageName="Sign in" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Sign in
    </h1>

    <form class="form-handler" method="post" action="/sign-in-router">

      {{ govukInput({
        label: {
          text: "Biometric residence permit number",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, ZU1234567"
        },
        classes: "govuk-input--width-10",
        id: "width-10",
        name: "BRPnumber"
      }) }}

    
      
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find your biometric residence permit number
          </span>
        </summary>
        
        <div class="govuk-details__text">
          <img src="/public/images/Brp-magnified-example.svg" alt="Biometric residence permit or card numbers are on the top right of the physical card" height="100%" width="100%">
          <br>
          <br>
          Biometric residence permit numbers are on the top right of the physical card, on the same side as the holder's photo.
        </div>
        

      </details>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date of birth
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            This must match what is on your biometric residence permit card. For example, 27 3 1985
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
