{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      Sign in
    </h1>


    {{ govukInput({
      label: {
        text: "Biometric residence card or permit number"
      },
      hint: {
        text: "For example, ZU1234567"
      },
      classes: "govuk-input--width-10",
      id: "width-10",
      name: "width10"
    }) }}
    

    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "Date of birth"
        }
      },
      hint: {
        text: "For example, 27 3 1985"
      }
    }) }}

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
