{% extends "layouts/main.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        <h1 class="govuk-heading-xl">
          Details not found
        </h1>

        <p class="govuk-body">
          The biometric residence permit (BRP) number and date of birth must match what is on our system.
        </p>

        <p class="govuk-body">
          Check your BRP number and date of birth, then try again.
        </p>
        
        <p class="govuk-body">
          You may need to wait up to 24 hours before starting this form to allow time for your details to be added to our system.
        </p>

      </form>
    </div>
  </div>
{% endblock %}

